<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xml:lang="en" >
  <head>
    <meta charset="utf-8" />

    <title>NYC Bus Transit Data</title>

    <link rel="icon" href="/favicon.ico" type="image/icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
    	.bus-lapel {
    		line-height: 3;
    		padding: 10px;
    		font-size: 1em;
    		cursor: pointer;
		    -webkit-transition: all 200ms ease-o
		    -ms-transition: all 200ms ease-out;
		    -moz-transition: all 200ms ease-out;
		    transition: all 200ms ease-out;
    	}
    	.bus-lapel:not(:last-child) {
    		margin-right: 5px;
    	}
			.dev-access:hover, .bus-lapel:hover {
				box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
		    animation: pulse 2s ease infinite;
			}

			@keyframes pulse {
			  0% { transform: scale(1); }
			  50% { transform: scale(1.05); }
			  100% { transform: scale(1); }
			}

    	.twitter-typeahead {
    		float: left;
    		width: 100%;
    	}
			.tt-menu {
			  width: 100px;
			  padding: 8px 0;
			  background-color: #fff;
			  border: 1px solid #ccc;
			  border: 1px solid rgba(0, 0, 0, 0.2);
			  -webkit-border-radius: 3px;
			     -moz-border-radius: 3px;
			          border-radius: 3px;
			  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
			     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
			          box-shadow: 0 5px 10px rgba(0,0,0,.2);
			}
			.tt-suggestion {
			  padding: 3px 10px;
			}
			.tt-suggestion:hover {
			  cursor: pointer;
			  color: #fff;
			  background-color: #0097cf;
			}
			.tt-suggestion.tt-cursor {
			  color: #fff;
			  background-color: #0097cf;
			}
			.tt-suggestion p {
			  margin: 0;
			}
			td, th {
				padding-right: 10px;
			}
			.infobox {
				color: #FFF;
			}
			.infobox table {
				/*width: 100%;*/
			}
			.infobox .panel-body {
				height: 300px;
			}
			.infobox td {
				font-size: 3.5em;
				font-weight: 200;
			}
    </style>

  </head>
  <body>

  	<div class="container" style="margin-top: 20px">
  		
  		<div class="row">
	  		<div class="col-sm-6 col-xs-12">
	  			<h1><b style="cursor:pointer" onclick="gotosplash()">Bus Data API</b></h1>
	  		</div>

				<div class="col-sm-6 col-xs-12" style="margin-top:20px">
					<div class="input-group" id="routes_search">
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-search"></span>
							Search routes
						</span>
						<input type="text" class="form-control typeahead" 
										id="route-query" placeholder="Search for...">
						<span class="input-group-btn" >
							<button class="btn btn-info" type="button"
												onclick="gotoroute()">
								Get Route Data
							</button>
						</span>
					</div>
				</div>
			</div>


			<h3>
				Year to date performance
				<small class="label label-default small pull-right dev-access" 
								style="color:#FFF; cursor: pointer;"
								onclick="godevportal()">
					<span class="glyphicon glyphicon-transfer"></span>
					Developer Access
				</small>
			</h3>
			<div class="row infobox">
				<div class="col-sm-6 col-xs-12">
					<div class="panel panel-success">
						<div class="panel-heading">
							<b>Top performers</b>
						</div>
						
						<div class="panel-body" style="color:#00b200;overflow:auto">
							<table>
								<tr>
									<th>Route ID</th>
									<th>Excess Headway</th>
									<th>% Higher</th>
								</tr>
								<% for (var i = 0; i < Math.round(excess.length/2) + 1; i++) { %>
								<% if (Number(excess[i].sched_pickups) > 55000) { %>
									<tr>
										<td>
											<b><%= excess[i].route_id %></b>
										</td>
										<td>
											<%= excess[i].excess %> min
										</td>
										<td>
											<%= excess[i].excess_pct %>%
										</td>
									</tr>
								<% } %>
								<% } %>
							</table>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-xs-12">
					<div class="panel panel-danger">
						<div class="panel-heading">
							<b>Poorest performers</b>
						</div>
						
						<div class="panel-body" style="color:#e50000;overflow:auto">
							<table>
								<tr>
									<th>Route ID</th>
									<th>Excess Headway</th>
									<th>% Higher</th>
								</tr>
								<% for (var i = (excess.length - 1); i > Math.round(excess.length/2) - 1; i--) { %>
								<% if (Number(excess[i].sched_pickups) > 55000) { %>
									<tr>
										<td>
											<b><%= excess[i].route_id %></b>
										</td>
										<td>
											<%= excess[i].excess %> min
										</td>
										<td>
											<%= excess[i].excess_pct %>%
										</td>
									</tr>
								<% } %><% } %>
							</table>
						</div>
					</div>
				</div>
			</div>
			
			
  		<div id="routes">
  			<h3>
  				Browse all routes
  			</h3>
  			<% for (var key in routes) { %>
  				<div class="panel panel-default">
	  				<div class="panel-heading">
	  					<b><%= key %><b>
	  				</div>
	  				<div class="panel-body">
			  			<% for (var i = 0; i < routes[key].length; i++) { %>
			   				<span class="label bus-lapel" 
			  							id = "<%= routes[key][i].route_id %>"
			  							style="background-color: #<%= routes[key][i].route_color %>;
			  										color: #<%= routes[key][i].route_text_color %>;" 
			  							onclick="gotoroute('<%= routes[key][i].route_id %>')"
			  							api-route-boro="<%= key %>" 
			  							api-route-desc="<%= routes[key][i].route_desc %>" 
			  							api-agency-id="<%= routes[key][i].agency_id %>" 
			  							api-route-url="<%= routes[key][i].route_url %>">
			  					<%= routes[key][i].route_short_name %>
			  				</span>
			  			<% } %>
		  			</div>
		  			<div class="panel-footer" style="font-weight: 200;"
		  						id="panel_footer_<%= key.replace(' ', '_') %>">
		  				Additional information appears here when you hover over a bus route.
		  			</div>
		  		</div>
	  		<% } %>
	  	</div>

  	</div>

  	<footer class="container alert" style="color:gray;font-weight:200">
  		<span class="pull-right">
  			Created by 
  			<a href="https://twitter.com/britishnathan" style="color:red">Nathan Johnson</a> 
  			and 
  			<a href="http://kuanbutts.com/" style="color:red">Kuan Butts</a>.
  			<a href="/about" style="font-weight:bold">More about this project.</a>
  			<br>
		  	<small>
		  		Special thanks to <a href="https://twitter.com/MicrosoftNY">@MicrosoftNY</a> for hosting this project
		  		and <a href="http://betanyc.us/">BetaNYC</a> for supporting civic tech.
	  			<br>
	  			Disclaimer: All information provided without warranty of any kind. Have a nice day. :)
	  		</small>
  		</span>
	  	<br>
  	</footer>

  </body>
	<script>
		// Globals
		var routes = [];

		window.onload = function () {
			$(".bus-lapel").each(function (r) {
				r = $(".bus-lapel")[r];
				routes.push(r.getAttribute("id"));
			});

			$(".bus-lapel").hover(function (r) {
				try {
					var boro = r.toElement.getAttribute("api-route-boro");
					var desc = r.toElement.getAttribute("api-route-desc");
					var agency_id = r.toElement.getAttribute("api-agency-id");
					var route_url = r.toElement.getAttribute("api-route-url");

					var blurb = [];
					if (agency_id) blurb.push("Agency: " + agency_id);
					if (desc) blurb.push("Route description: " + desc);
					if (route_url) blurb.push("Route url: " + route_url);
					$("#panel_footer_" + boro.replace(" ", "_"))[0].innerText = blurb.join("\n")
				} catch (e) {}
			});

		$('#routes_search .typeahead')
			.typeahead( {hint: true, highlight: true, minLength: 1}, 
									{name: 'routes', source: substringMatcher(routes)});
		};

		// UTILITIES
		var substringMatcher = function(strs) {
		  return function findMatches(q, cb) {
		    var matches = [];
		    var substrRegex = new RegExp(q, 'i');
		    $.each(strs, function(i, str) {
		      if (substrRegex.test(str)) { matches.push(str); }
		    });
		    cb(matches);
		  };
		};

		function gotoroute (rt) {
			if (rt == undefined) {
				rt = $("#route-query")[0].value;
			}
			window.location.pathname = "/routes/" + rt;
		};

		function godevportal () {
			window.location.pathname = "/developer";
		};

		function gotosplash () {
			window.location = "http://bus-data-nyc.github.io/";
		};

		// google analytics
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-71578223-1', 'auto');
	  ga('send', 'pageview');

	</script>
</html>


