<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xml:lang="en" >
  <head>
    <meta charset="utf-8" />
    
    <title>Bus Transit Data</title>

    <link rel="icon" href="/favicon.ico" type="image/icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

    <style type="text/css">
    .leaflet-popup-content-wrapper {
    	border-radius: 3px;
    }
		.deco-none {
		  color: inherit;
		  text-decoration: inherit;
		}
		.deco-none:link {
		  color: inherit;
		  text-decoration: inherit;
		}
		.deco-none:hover {
		  color: inherit;
		  text-decoration: inherit;
		}
		.jumbotron.infobox {
			border-radius: 0px;
			background-color: #<%= route.route_color %>;
			color: #<%= route.route_text_color %>;
			padding: 25px;
		}
		td {
			padding-right: 5px;
		}
    </style>

  </head>
  <body>

  	<div class="container" style="margin-top: 20px">

  		<h1>
  			<b onclick="gohome()" style="cursor:pointer">
  				Bus Data API
  			</b> 
  			<span style="color:grey;font-weight:100">
  				<% if (route.route_short_name !== "") { %>
  					<%= route.route_short_name %>
  				<% } else { %>
  					<%= route.route_id %>
  				<% } %> Route Explorer
  			</span>

  			<br>
  			<small>
  				<sub>
  					<span class="glyphicon glyphicon-stop" style="color:#<%= route.route_color %>"></span> 
  					<a href="/routes/<%= route.route_id %>" class="deco-none">
  						<%= route.agency_id %> <%= route.route_long_name %> <%= route.route_desc %> 
  					</a>
  					<a href="<%= route.route_url %>" style="font-size:x-small">
  						(MTA Page)
  					</a>
  				</sub>
  			</small>
  		</h1>

  		<div id="map" style="height:300px;background-color:#<%= route.route_color %>"></div>

			<div class="jumbotron infobox">
				<h4>General Statistics for the <%= route.route_short_name %></h4>
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<p>
							Average headways are 
							<b>
								<%= (route.headways.excess_hw/route.headways.sched_hw*100).toFixed(1) %>%
								<% if (route.headways.excess_hw/route.headways.sched_hw > 0) { %>
									higher
								<% } else { %>
									lower
								<% } %>
							</b>
							than scheduled.
						</p>

						<table>
							<tr>
								<td><b>Scheduled</b></td>
								<td><%= route.headways.sched_hw.toFixed(1) %> minutes</td>
							</tr>
							<tr>
								<td><b>Observed</b></td>
								<td><%= route.headways.actual_hw.toFixed(1) %> minutes</td>
							</tr>
							<tr>
								<td><b>Excess</b></td>
								<td><%= route.headways.excess_hw.toFixed(1) %> minutes</td>
							</tr>
						</table>
					</div>

					<div class="col-sm-6 col-xs-12">
						<% if (route.route_id.indexOf("+") > -1) { %>
							<p>
								This is a Select Bus Service route and does not have on-time performance data.
							</p>
							<small style="opacity:0.75">
								Service is advertised on a frequency basis (e.g. "every 20 minutes") and thus does not have specific scheduled arrival times.
							</small>
						<% } else { %>
							<p>
								Of all scheduled arrivals, 
								<b>
									<%= route.timeliness_distribution.on_time.toFixed(1) %>%
								</b>
								are on-time.
							</p>

							<table>
								<tr>
									<td><b>Early</b></td>
									<td><%= route.timeliness_distribution.early.toFixed(1) %>%</td>
								</tr>
								<tr>
									<td><b>On-time</b></td>
									<td><%= route.timeliness_distribution.on_time.toFixed(1) %>%</td>
								</tr>
								<tr>
									<td><b>Late</b></td>
									<td><%= route.timeliness_distribution.late.toFixed(1) %>%</td>
								</tr>
							</table>
						<% } %>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<small style="opacity:0.5"><i>
							Headway (the time between buses) information for high frequency service (times during which bus frequency is scheduled so that buses are less than or equal to 12 minutes apart). Averages are calculated year to date. Early, on-time, and late percentages do not necessarily total 100% due to missing data.
						</i></small>
					</div>
				</div>
			</div>
			
  		<div id="stops">
  			<h4>Explore Individual Stops</h4>
	  		<% for (var d = 0; d < route.stops.length; d++) { %>
	  			<ul style="float:left">
	  				<h5><%= route.directions[d] %> Direction</h5>
	  				<% for (var i = 0; i < route.stops[d].length; i++) { %>
	  					<li style="list-style-type:none">
	  						<a href="/routes/<%= route.route_id %>/stops/<%= d %>/<%= route.stops[d][i].stop_id %>"><%= route.stops[d][i].stop_name %></a>
	  					</li>
	  				<% } %>
	  			</ul>
	  		<% } %>
	  	</div>

  	</div>

  	<footer class="container alert" style="color:gray;font-weight:200">
  		<span class="pull-right">
  			Created by 
  			<a href="https://twitter.com/britishnathan" style="color:red">Nathan Johnson</a> 
  			and 
  			<a href="http://kuanbutts.com/" style="color:red">Kuan Butts</a>.
  			<a href="" style="font-weight:bold">More about this project.</a>
  			<br>
		  	<small>
		  		Special thanks to <a href="https://twitter.com/MicrosoftNY">@MicrosoftNY</a> for hosting this project
		  		and <a href="http://betanyc.us/">BetaNYC</a> for supporting civic tech.
	  			<br>
	  			Disclaimer: All information provided without warranty of any kind. Have a nice day. :)
	  		</small>
  		</span>
	  	<br>
  	</footer>

  </body>
	<script>
		String.prototype.replaceAll = function(search, replace) {
			if (replace === undefined) { return this.toString(); } 
			else { return this.split(search).join(replace); }
		};

		// Globals
		var stops = "<%= JSON.stringify(route.stops) %>";
		stops = JSON.parse(stops.replaceAll("&#34;", '"'));

		var map = L.map('map', {zoomControl:false, attributionControl:false}).setView([40.75, -73.85], 10);
		map.addControl( L.control.zoom({position: 'topright'}) );
		L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png').addTo(map);

		var all_stops = [];
		stops.forEach(function (dir, dir_i) {
			dir.forEach(function (stop) {
				var m = L.circle([stop.stop_lat, stop.stop_lon], 15, {color: "#<%= route.route_color %>", fillOpacity: 1 });
				m.bindPopup("<span onclick='gotostop(" + dir_i.toString() + ", " + stop.stop_id.toString() + ")' style='cursor:pointer'>" + 
										stop.stop_name + "</span>", {closeButton:false});
				all_stops.push(m);
				m.addTo(map);
			});
		});
		all_stops = L.featureGroup(all_stops);
		map.fitBounds(all_stops.getBounds());

		function gotostop (dir, stop_id) {
			var redirect = "/routes/<%= route.route_id %>/stops/" + dir + "/" + stop_id;
			window.location.pathname = redirect;
		};

		function gohome () {
			window.location.pathname = "/";
		};
	</script>
</html>


