<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <title>Bus Transit Data</title>

    <link rel="icon" href="/favicon.ico" type="image/icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

    <style type="text/css">
    .leaflet-popup-content-wrapper {
    	border-radius: 3px;
    }
		.deco-none {
		  color: inherit;
		  text-decoration: inherit;
		}
		.deco-none:link {
		  color: inherit;
		  text-decoration: inherit;
		}
		.deco-none:hover {
		  color: inherit;
		  text-decoration: inherit;
		}
    </style>

  </head>
  <body>

  	<div class="container" style="margin-top: 20px">

  		<h1>
  			<b onclick="gohome()" style="cursor:pointer">
  				Bus Data API
  			</b> 
  			<span style="color:grey;font-weight:100">
  				<% if (route.route_short_name !== "") { %>
  					<%= route.route_short_name %>
  				<% } else { %>
  					<%= route.route_id %>
  				<% } %> Route Explorer
  			</span>

  			<br>
  			<small>
  				<sub>
  					<span class="glyphicon glyphicon-stop" style="color:#<%= route.route_color %>"></span> 
  					<a href="/routes/<%= route.route_id %>" class="deco-none">
  						<%= route.agency_id %> <%= route.route_long_name %> <%= route.route_desc %> 
  					</a>
  					<a href="<%= route.route_url %>" style="font-size:x-small">
  						(MTA Page)
  					</a>
  				</sub>
  			</small>
  		</h1>

  		<div id="map" style="height:300px;background-color:#<%= route.route_color %>"></div>
			
  		<div id="stops">
  			<h4>Explore Individual Stops</h4>
	  		<% for (var d = 0; d < route.stops.length; d++) { %>
	  			<ul style="float:left">
	  				<h5><%= route.directions[d] %> Direction</h5>
	  				<% for (var i = 0; i < route.stops[d].length; i++) { %>
	  					<li style="list-style-type:none">
	  						<a href="/routes/<%= route.route_id %>/<%= d %>/<%= route.stops[d][i].stop_id %>"><%= route.stops[d][i].stop_name %></a>
	  					</li>
	  				<% } %>
	  			</ul>
	  		<% } %>
	  	</div>

  	</div>

  </body>
	<script>
		String.prototype.replaceAll = function(search, replace) {
			if (replace === undefined) { return this.toString(); } 
			else { return this.split(search).join(replace); }
		};

		// Globals
		var stops = "<%= JSON.stringify(route.stops) %>";
		stops = JSON.parse(stops.replaceAll("&#34;", '"'));

		var map = L.map('map', {zoomControl:false, attributionControl:false}).setView([40.75, -73.85], 10);
		map.addControl( L.control.zoom({position: 'topright'}) );
		L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png').addTo(map);

		var all_stops = [];
		stops.forEach(function (dir, dir_i) {
			dir.forEach(function (stop) {
				var m = L.circle([stop.stop_lat, stop.stop_lon], 15, {color: "#<%= route.route_color %>", fillOpacity: 1 });
				m.bindPopup("<span onclick='gotostop(" + dir_i.toString() + ", " + stop.stop_id.toString() + ")' style='cursor:pointer'>" + 
										stop.stop_name + "</span>", {closeButton:false});
				all_stops.push(m);
				m.addTo(map);
			});
		});
		all_stops = L.featureGroup(all_stops);
		map.fitBounds(all_stops.getBounds());

		function gotostop (dir, stop_id) {
			var redirect = "/routes/<%= route.route_id %>/" + dir + "/" + stop_id;
			window.location.pathname = redirect;
		};

		function gohome () {
			window.location.pathname = "/";
		};
	</script>
</html>


